.signup-business-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);

  .signup-business-container {
    width: 484px;
    height: fit-content;
    border-radius: 30px;
    background-color: #fff;

    .business {
      width: 100%;
      height: 680px;
      padding: 20px 10px 24px 10px;
      .close {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .close-btn {
          cursor: pointer;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: 0.15s linear;

          .icon {
            font-size: 24px;
            font-weight: bold;
          }

          &:hover {
            background-color: var(--btn-bg-hover);
          }
        }
      }

      .logo {
        width: 100%;
        height: 45px;
        margin-top: -15px;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo-image {
          width: 40px;
          height: 40px;
          object-fit: cover;
        }
      }

      .welcome {
        width: 100%;
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;

        .text {
          font-size: 32px;
          font-weight: 600;
          color: var(--text-color-black-2nd);
        }
      }

      .sub-heading {
        width: 100%;
        margin-top: 8px;
        display: flex;
        align-items: center;
        justify-content: center;

        .text {
          font-size: 16px;
          font-weight: 400;
          color: var(--text-color-black);
        }
      }

      .form-login-wrapper {
        width: 100%;
        height: fit-content;
        margin-top: 22px;
        display: flex;
        align-items: center;
        justify-content: center;

        .form-login-container {
          width: 268px;
          height: fit-content;

          .form-content {
            width: 100%;
            height: fit-content;

            .email {
              .email-text {
                width: 260px;
                font-size: 13px;
                padding-left: 10px;
                color: var(--text-color-black);
              }

              .email-input {
                width: 100%;
                height: 48px;
                margin-top: 6px;
                padding: 8px 16px;
                border-radius: 15px;
                border: 2px solid #cdcdcd;
                background-color: var(--bg-white);

                .input {
                  width: 100%;
                  height: 100%;
                  font-size: 15px;
                  border: none;
                  outline: none;
                  background-color: transparent;
                  color: var(--text-color-black);
                }
              }
            }

            .password {
              margin-top: 12px;
              .password-text {
                width: 260px;
                font-size: 13px;
                padding-left: 10px;
                color: var(--text-color-black);
              }

              .password-input {
                width: 100%;
                height: 48px;
                margin-top: 6px;
                padding: 8px 16px;
                border-radius: 15px;
                border: 2px solid #cdcdcd;
                background-color: var(--bg-white);

                .input {
                  width: 100%;
                  height: 100%;
                  font-size: 15px;
                  border: none;
                  outline: none;
                  background-color: transparent;
                  color: var(--text-color-black);
                }
              }
            }

            .birthday {
              margin-top: 12px;
              .birthday-text {
                width: 260px;
                font-size: 13px;
                padding-left: 10px;
                color: var(--text-color-black);
              }

              .birthday-input {
                width: 100%;
                height: 48px;
                margin-top: 6px;
                padding: 8px 16px;
                border-radius: 15px;
                border: 2px solid #cdcdcd;
                background-color: var(--bg-white);

                .input {
                  width: 100%;
                  height: 100%;
                  font-size: 15px;
                  font-family: "Inter", sans-serif;
                  border: none;
                  outline: none;
                  background-color: transparent;
                  color: var(--text-color-black);
                }
              }
            }

            .signup-btn {
              width: 100%;
              margin-top: 10px;

              .btn {
                cursor: pointer;
                user-select: none;
                width: 100%;
                height: 40px;
                padding: 0 8px;
                font-size: 15px;
                font-weight: 600;
                border: none;
                outline: none;
                border-radius: 25px;
                color: var(--text-color-white);
                background-color: var(--button-bg-primary);
                transition: 0.15s linear;

                &:hover {
                  background-color: var(--button-bg-primary-hover);
                }
              }
            }

            .login-btn {
              width: 100%;
              margin-top: 8px;

              .btn {
                cursor: pointer;
                user-select: none;
                width: 100%;
                height: 40px;
                padding: 0 8px;
                font-size: 15px;
                font-weight: 600;
                border: none;
                outline: none;
                border-radius: 25px;
                color: var(--text-color-black);
                background-color: var(--button-bg-secondary);
                transition: 0.15s linear;

                &:hover {
                  background-color: var(--button-bg-secondary-hover);
                }
              }
            }
          }

          .information {
            width: 100%;
            margin-top: 15px;
            display: flex;
            align-items: center;
            justify-content: center;

            .text {
              width: 252px;
              text-align: center;
              font-size: 11px;
              line-height: 16px;
              color: var(--text-color-gray-1st);

              .mark {
                cursor: pointer;
                font-weight: 600;
                color: var(--text-color-black);

                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }

    .normal {
      cursor: pointer;
      width: 100%;
      height: 62px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0 0 30px 30px;
      background-color: #e9e9e9;

      .business-text {
        font-size: 16px;
        font-weight: 500;
        color: var(--text-color-black);
      }
    }
  }
}
