.gallery-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #fff;

  .images-layout {
    user-select: none;
    width: 50%;
    height: 100%;
    column-count: 6;
    margin: 0 15px;
    margin-top: 20px;

    .image-card {
      width: 100%;
      break-inside: avoid;
      margin-bottom: 15px;
      .image-item {
        max-width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
        border-radius: 10px;
      }
    }
  }

  .content {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .main-text {
      user-select: none;
      height: 80px;
      font-size: 60px;
      font-weight: 600;
      color: #211922;
    }

    .explore {
      margin-top: 24px;

      .explore-btn {
        user-select: none;
        cursor: pointer;
        padding: 12px 20px;
        font-size: 16px;
        font-weight: bold;
        border: none;
        outline: none;
        border-radius: 25px;
        color: #fff;
        background-color: var(--button-bg-primary);
        transition: 0.15s linear;

        &:hover {
          background-color: var(--button-bg-primary-hover);
        }
      }
    }
  }

  @media screen and (max-width: 1600px) {
    .images-layout {
      margin-top: 0;
    }
  }
}
