.report-pin-wrapper {
  cursor: zoom-out;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.75);
  .report-pin-container {
    cursor: context-menu;
    width: 540px;
    height: fit-content;
    border-radius: 15px;
    background-color: #fff;

    .report-pin-heading {
      width: 100%;
      height: 85px;
      padding: 24px;

      .heading-text {
        width: 100%;
        font-size: 28px;
        font-weight: 600;
        line-height: 37px;
        text-align: center;
        color: var(--text-color-black);
      }
    }

    .report-pin-content {
      width: 100%;
      height: fit-content;
      max-height: calc(100% - 180px);
      padding: 8px 16px;
      overflow-y: auto;

      .report-pin-main {
        width: 100%;
        .report-item-main {
          width: 100%;
          padding: 0 8px;

          .report-item {
            margin-top: 16px;
            display: flex;
            align-items: flex-start;

            .select-report {
              margin-right: 10px;

              .input-report {
                cursor: pointer;
              }
            }

            .report-content {
              .report-title {
                cursor: pointer;
                font-size: 16px;
                color: var(--text-color-black);
              }

              .report-desc {
                cursor: text;
                padding-top: 8px;
                font-size: 12px;
                color: #767676;
              }
            }
          }
          .report-item:first-child {
            margin-top: 0;
          }
        }
      }
    }

    .report-pin-footer {
      width: 100%;
      height: 95px;
      padding: 24px;

      .report-pin-action {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .cancel-action {
          cursor: pointer;
          user-select: none;
          height: 48px;
          padding: 12px 16px;
          border-radius: 25px;
          margin-right: 10px;
          border: none;
          outline: none;
          background-color: var(--button-bg-secondary);

          .text {
            font-size: 16px;
            font-weight: 600;
            color: var(--text-color-black);
          }

          &:hover {
            background-color: var(--button-bg-secondary-hover);
          }
        }

        .save-action {
          cursor: pointer;
          user-select: none;
          height: 48px;
          padding: 12px 16px;
          border-radius: 25px;
          border: none;
          outline: none;
          background-color: var(--button-bg-primary);

          .text {
            font-size: 16px;
            font-weight: 600;
            color: var(--text-color-white);
          }

          &:hover {
            background-color: var(--button-bg-primary-hover);
          }
        }

        .save-action:disabled {
          cursor: not-allowed;
          background-color: #e9e9e9;

          .text {
            color: #767676;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1600px) {
    .report-pin-container {
      height: fit-content;
    }
  }
}
