.image-card {
  cursor: zoom-in;
  position: relative;
  width: 100%;
  break-inside: avoid;
  margin-bottom: 15px;

  .image-item {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 10px;
  }

  .image-card-label {
    cursor: zoom-in;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 12px;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.35);
    opacity: 0;
    transition: 0.2s linear;

    .save-action {
      .save-btn {
        cursor: pointer;
        height: 48px;
        padding: 12px 16px;
        font-size: 16px;
        font-weight: 500;
        border-radius: 25px;
        border: none;
        outline: none;
        color: var(--text-color-white);
        background-color: var(--button-bg-primary);
        transition: 0.15s linear;

        &:hover {
          background-color: var(--button-bg-primary-hover);
        }
      }
    }

    .interact-action {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;

      .sharing,
      .more-options {
        cursor: pointer;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: var(--bg-white-transparent);
        transition: 0.15s linear;

        .icon {
          font-size: 16px;
          color: var(--text-color-black);
        }

        &:hover {
          background-color: var(--bg-white);
        }
      }
    }
  }

  &:hover {
    .image-card-label {
      opacity: 1;
    }
  }
}
