.save-content-artwork-container {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;

  .save-content-artwork-loading {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .save-content-artwork-list {
    width: calc(100% - 150px);
    column-count: 7;
  }

  @media screen and (max-width: 1600px) {
    .save-content-artwork-list {
      width: calc(100% - 150px);
      column-count: 6;
    }
  }
}
