.interact {
  width: 100%;
  height: fit-content;
  min-height: 145px;
  bottom: 0;
  padding: 8px 32px;
  border-radius: 0 0 32px 0;
  z-index: 1;
  border-top: 1px solid rgb(239, 239, 239);
  background-color: var(--bg-white);

  .comment-reaction {
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4px 0 12px 0;

    .number-of-comments {
      font-size: 20px;
      font-weight: 600;
      color: var(--text-color-black);
    }

    .reaction-container {
      user-select: none;
      display: flex;
      align-items: center;
      justify-content: center;

      .number-of-reactions {
        display: flex;
        align-items: center;
        justify-content: center;

        .list-icon {
          display: flex;
          align-items: center;
          justify-content: center;

          .icon-love,
          .icon-haha,
          .icon-wow {
            cursor: pointer;
            width: 20px;
            height: 20px;
            border: 1.5px solid #fff;
          }
        }
        .number {
          cursor: pointer;
          width: fit-content;
          font-size: 15px;
          font-weight: 500;
          padding: 0 4px 0 8px;
          color: var(--text-color-black);

          &:hover {
            text-decoration: underline;
          }
        }
      }
      .interact-react {
        position: relative;
        cursor: pointer;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .input-comment {
    display: flex;
    justify-content: center;
    .user-avatar {
      width: 56px;
      height: 56px;
      display: flex;
      align-items: flex-start;
      margin-right: 8px;

      .avatar {
        width: 100%;
        height: 56px;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    .input-container {
      flex: 1;
      height: fit-content;
      min-height: 56px;
      max-height: 150px;
      border-radius: 25px;
      padding: 8px 0 8px 16px;
      display: flex;
      align-items: center;
      gap: 16px;
      border: 1px solid var(--hover-bg-icon);

      .input {
        width: 83%;
        height: fit-content;
        min-height: calc(56px - 32px);
        max-height: calc(150px - 32px);
        resize: none;
        border: none;
        outline: none;
        overflow: auto;
        font-family: "Inter", sans-serif;
        font-size: 15px;
        color: var(--text-color-input-comment);
      }

      .send-comment-container {
        flex: 1;
        height: 100%;
        display: flex;
        align-items: center;

        .send-comment-btn {
          cursor: pointer;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: var(--button-bg-primary);
          transition: 0.15s linear;

          .icon {
            font-size: 18px;
            color: var(--text-color-white);
          }

          &:hover {
            background-color: var(--button-bg-primary-hover);
          }
        }
      }
    }
  }
}
