.main-header-wrapper {
  width: 100%;
  height: 80px;
  padding: 16px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: #fff;

  .main-header-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-left {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;

      .header-logo {
        height: 31px;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 12px;
        gap: 5px;
        .logo {
          width: 30px;
          height: 30px;

          .logo-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .logo-text {
          font-size: 18px;
          font-weight: bold;
          color: var(--header-logo-color);
        }
      }

      .header-item {
        .item-link {
          user-select: none;
          text-decoration: none;
          padding: 7px;
          border-radius: 4px;
          font-size: 15px;
          font-weight: 600;
          color: var(--header-text-color);

          &:hover {
            background-color: var(--header-item-bg);
          }
        }
      }
    }

    .header-right {
      user-select: none;
      display: flex;
      align-items: center;
      justify-content: center;
      .website-information {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 24px;
        gap: 10px;

        .info-item {
          .info-item-link {
            text-decoration: none;
            padding: 6px;
            border-radius: 4px;
            font-size: 15px;
            font-weight: 600;
            color: var(--header-text-color);

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      .authentication-action {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        .login-btn {
          cursor: pointer;
          padding: 8px 14px;
          font-size: 15px;
          font-weight: 600;
          line-height: 21px;
          border-radius: 20px;
          border: none;
          outline: none;
          color: var(--text-color-white);
          background-color: var(--button-bg-primary);
          transition: 0.15s linear;

          &:hover {
            background-color: var(--button-bg-primary-hover);
          }
        }

        .signup-btn {
          cursor: pointer;
          padding: 8px 14px;
          font-size: 15px;
          font-weight: 600;
          line-height: 21px;
          border-radius: 20px;
          border: none;
          outline: none;
          color: var(--text-color-black);
          background-color: var(--button-bg-secondary);
          transition: 0.15s linear;

          &:hover {
            background-color: var(--button-bg-secondary-hover);
          }
        }
      }
    }
  }
}
