.profile-wrapper {
  width: 100%;
  height: fit-content;
  scroll-behavior: smooth;
  .profile-container {
    width: 100%;
    margin-top: 80px;

    .user-information-wrapper {
      width: 100%;
      height: fit-content;
      margin-bottom: 32px;
      display: flex;
      align-items: center;
      justify-content: center;

      .user-information-container {
        width: 490px;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .user-avatar {
          width: 120px;
          height: 120px;
          border-radius: 50%;

          .avatar {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .full-name {
          margin-top: 8px;
          .text {
            font-size: 34px;
            font-weight: 500;
            line-height: 48px;
          }
        }

        .user-name {
          display: flex;
          align-items: center;
          margin-top: 8px;
          gap: 5px;

          .icon {
            font-size: 15px;
            color: var(--text-color-gray-2nd);
          }

          .text {
            font-size: 14px;
            color: var(--text-color-gray-2nd);
          }
        }

        .about {
          display: flex;
          align-items: center;
          margin-top: 10px;

          .text {
            font-size: 15px;
            color: var(--text-color-black);
          }
        }

        .profile-link {
          display: flex;
          align-items: center;
          margin-top: 10px;
          font-size: 16px;
          font-weight: 600;
          text-decoration: none;
          color: var(--text-color-black);

          &:hover {
            text-decoration: underline;
          }
        }

        .following {
          margin-top: 10px;
          font-size: 15px;
          line-height: 21px;
          color: var(--text-color-black);

          .number {
            margin-right: 5px;
          }
        }

        .profile-action {
          margin-top: 16px;
          padding-top: 8px;
          display: flex;

          .share-btn {
            user-select: none;
            cursor: pointer;
            height: 48px;
            margin-right: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 12px 16px;
            border-radius: 25px;
            background-color: var(--button-bg-secondary);

            .text {
              font-size: 15px;
              font-weight: 600;
              line-height: 21px;
              color: var(--text-color-black);
            }

            &:hover {
              background-color: var(--button-bg-secondary-hover);
            }
          }

          .edit-btn {
            user-select: none;
            cursor: pointer;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 12px 16px;
            border-radius: 25px;
            background-color: var(--button-bg-secondary);

            .text {
              font-size: 15px;
              font-weight: 600;
              line-height: 21px;
              color: var(--text-color-black);
            }

            &:hover {
              background-color: var(--button-bg-secondary-hover);
            }
          }
        }
      }
    }

    .nav-options-wrapper {
      width: 100%;
      padding: 0 16px 16px 16px;

      .nav-options-container {
        width: 100%;
        height: 61px;
        display: flex;
        align-items: center;
        justify-content: center;

        .nav-options-main {
          display: flex;
          align-items: center;

          .created-wrapper {
            margin-right: 16px;
            .created {
              user-select: none;
              cursor: pointer;
              height: 37px;
              padding: 8px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 8px;
              transition: 0.2s ease-in;
              .text {
                font-size: 15px;
                font-weight: 600;
                color: var(--text-color-black);
              }

              &:hover {
                background-color: var(--button-bg-secondary-hover);
              }
            }

            .created-active {
              user-select: none;
              cursor: pointer;
              height: 37px;
              padding: 8px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 8px;
              transition: 0.2s ease-in;
              .text {
                font-size: 15px;
                font-weight: 600;
                color: var(--text-color-black);
              }
            }

            .line {
              width: 100%;
              height: 3px;
              background-color: transparent;
            }

            .line-active {
              width: 100%;
              height: 3px;
              background-color: var(--text-color-black);
            }
          }

          .saved-wrapper {
            .saved {
              user-select: none;
              cursor: pointer;
              height: 37px;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 8px;
              border-radius: 8px;
              .text {
                font-size: 15px;
                font-weight: 600;
                color: var(--text-color-black);
              }

              &:hover {
                background-color: var(--button-bg-secondary-hover);
              }
            }

            .saved-active {
              user-select: none;
              cursor: pointer;
              height: 37px;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 8px;
              border-radius: 8px;
              .text {
                font-size: 15px;
                font-weight: 600;
                color: var(--text-color-black);
              }
            }

            .line {
              width: 100%;
              height: 3px;
              background-color: transparent;
            }

            .line-active {
              width: 100%;
              height: 3px;
              background-color: var(--text-color-black);
            }
          }
        }
      }
    }
  }
}
