.account-options-wrapper {
  position: absolute;
  right: 0;
  top: 67px;
  width: 310px;
  height: fit-content;
  padding: 9px;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 5;
  background-color: var(--bg-white);

  .account-options-container {
    .current-text {
      width: 100%;
      height: 32px;
      padding: 8px;
      font-size: 12px;
      display: flex;
      align-items: center;
    }

    .user-info-wrapper {
      cursor: pointer;
      width: 100%;
      height: 80px;
      padding: 8px;
      border-radius: 8px;
      background-color: var(--header-item-bg);

      .user-info-container {
        width: 100%;
        height: 64px;
        display: flex;
        align-items: center;

        .user-info-main {
          user-select: none;
          width: 90%;
          display: flex;
          align-items: center;
          margin-right: 16px;

          .user-avatar {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            margin-right: 8px;

            .avatar {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .user-info {
            width: calc(100% - 60px);

            .username {
              font-size: 15px;
              font-weight: 600;
              line-height: 22px;
            }

            .account-type {
              font-size: 13px;
              line-height: 20px;
            }

            .email {
              font-size: 13px;
              line-height: 20px;
            }
          }
        }

        .tick {
          flex: 1;

          .icon {
            font-size: 16px;
            color: var(--text-color-black);
          }
        }
      }
    }

    .your-account-text {
      width: 100%;
      height: 32px;
      margin-top: 16px;
      padding: 8px;
      font-size: 12px;
      display: flex;
      align-items: center;
    }

    .account-item-wrapper {
      user-select: none;
      cursor: pointer;
      text-decoration: none;
      width: 100%;
      height: 37px;
      padding: 8px;
      border-radius: 8px;
      display: flex;
      align-items: center;
      transition: 0.15s ease;
      .account-item-container {
        font-size: 15px;
        font-weight: 600;
        line-height: 22px;
        color: var(--text-color-black);
      }

      &:hover {
        background-color: var(--header-item-bg);
      }
    }

    .more-options-text {
      width: 100%;
      height: 32px;
      margin-top: 16px;
      padding: 8px;
      font-size: 12px;
      display: flex;
      align-items: center;
    }

    .option-wrapper {
      user-select: none;
      cursor: pointer;
      text-decoration: none;
      width: 100%;
      height: 37px;
      padding: 8px;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: 0.15s ease;
      .option-text {
        font-size: 15px;
        font-weight: 600;
        line-height: 22px;
        color: var(--text-color-black);
      }

      .icon {
        font-size: 12px;
        color: var(--text-color-black);
      }

      &:hover {
        background-color: var(--header-item-bg);
      }
    }

    .log-out-wrapper {
      user-select: none;
      cursor: pointer;
      width: 100%;
      height: 37px;
      padding: 8px;
      border-radius: 8px;
      display: flex;
      align-items: center;
      transition: 0.15s ease;

      .log-out-text {
        font-size: 15px;
        font-weight: 600;
        line-height: 22px;
        color: var(--text-color-black);
      }

      &:hover {
        background-color: var(--header-item-bg);
      }
    }
  }
}
