.home-wrapper {
  width: 100%;
  height: fit-content;
  scroll-behavior: smooth;

  .home-container {
    width: 100%;
    height: 100%;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    .show-artworks-list {
      width: calc(100% - 150px);
      height: 100%;
      column-count: 7;
    }

    @media screen and (max-width: 1600px) {
      .show-artworks-list {
        width: 100%;
        height: 100%;
        column-count: 6;
        margin: 0 8px;
      }
    }
  }
}
