.upgrade-package-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.75);
  .upgrade-package-container {
    cursor: context-menu;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #fff;

    .upgrade-package-content {
      width: 100%;
      padding: 16px 24px;
      padding-bottom: 0;
      .upgrade-package-introduction {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .type-of-package {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .empty {
            width: 40px;
            height: 40px;
          }

          .text {
            font-size: 18px;
            font-weight: 600;
            line-height: 22px;
            color: var(--primary);
          }

          .close {
            cursor: pointer;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.2s ease-in-out;

            .icon {
              font-size: 20px;
              color: var(--text-color-black);
            }

            &:hover {
              background-color: var(--button-bg-secondary);
            }
          }
        }

        .head-title {
          font-size: 34px;
          font-weight: 600;
          line-height: 50px;
          color: var(--text-color-black);
        }

        .description {
          width: 100%;
          text-align: center;
          font-size: 16px;
          font-weight: 500;
          padding-top: 4px;
          line-height: 22px;
          color: #9097a7;
        }
      }

      .upgrade-package-information {
        .package-list {
          width: 100%;
          height: fit-content;
          padding: 48px 0;
          display: grid;
          justify-content: space-around;
          grid-template-columns: auto auto;
          gap: 16px;
          .package-item {
            width: 400px;
            height: 500px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            padding: 24px;
            border-radius: 20px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            background-color: var(--bg-white);

            .pricing-container {
              user-select: none;
              width: 100%;
              height: fit-content;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              border-bottom: 1px solid var(--border-color);

              .price {
                font-size: 48px;
                font-weight: 600;
                color: var(--text-color-black);
              }

              .type-package {
                font-size: 18px;
                font-weight: 600;
                padding: 16px 0;
                color: var(--text-color-black);
              }
            }

            .feature-container {
              .feature {
                height: 22px;
                margin-bottom: 16px;
                .icon {
                  margin-right: 8px;
                  color: #11ba6b;
                }
                .text {
                  font-size: 15px;
                  color: var(--text-color-black);
                }
              }

              .feature-not-access {
                height: 22px;
                margin-bottom: 16px;
                .icon {
                  margin-right: 8px;
                  color: red;
                }
                .text {
                  text-decoration: line-through;
                  font-size: 15px;
                  color: var(--text-color-black);
                }
              }
            }

            .action-container {
              width: 100%;
              height: 48px;

              .action-btn {
                cursor: pointer;
                width: 100%;
                height: 100%;
                border-radius: 10px;
                font-size: 16px;
                font-weight: 600;
                border: none;
                outline: none;
                color: var(--text-color-white);
                background-color: var(--button-bg-primary);
                transition: 0.2s ease-in-out;

                &:hover {
                  background-color: var(--button-bg-primary-hover);
                }
              }
            }
          }
        }
      }
    }
  }
}
