.notification-wrapper {
  position: absolute;
  right: 0;
  top: 67px;
  width: 375px;
  height: 670px;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: var(--bg-white);

  .notification-container {
    width: 100%;
    height: 100%;
    .notification-heading {
      width: 100%;
      height: 50px;
      padding: 16px 0;
      .text {
        text-align: center;
        font-size: 15px;
        font-weight: 600;
        color: var(--text-color-black);
      }
    }

    .mark-as-read {
      width: 100%;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0 16px 0 0;

      .mark-as-read-btn {
        cursor: pointer;
        padding: 0 12px;
        height: 36px;
        font-size: 14px;
        border: none;
        outline: none;
        background-color: transparent;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .notification-list {
      width: 100%;
      height: 100%;
      padding: 0 8px;
      max-height: calc(100% - 86px);
      overflow-y: auto;

      .notification-item {
        cursor: pointer;
        width: 100%;
        height: fit-content;
        padding: 12px 8px;
        display: flex;
        margin-bottom: 16px;
        gap: 10px;
        border-radius: 8px;
        text-decoration: none;
        transition: 0.15s linear;

        .user-avatar {
          width: 60px;
          height: 60px;

          .avatar {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
          }
        }

        .notification-info {
          flex: 1;

          .notification-content {
            height: fit-content;
            max-height: 60px;
            font-size: 15px;
            line-height: 20px;
            word-wrap: break-word;
            white-space: normal;
            overflow: hidden;
            display: -webkit-box;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            color: var(--text-color-black);
          }

          .notification-date {
            margin-top: 3px;
            font-size: 13px;
            font-weight: 500;
            color: var(--text-color-black);
          }
        }

        .dot-wrapper {
          width: 12px;
          display: flex;
          align-items: center;
          justify-content: center;

          .dot {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: red;
          }
        }

        &:hover {
          background-color: var(--header-item-bg);
        }
      }
    }
  }
}
