.sharing-wrapper {
  position: absolute;
  top: 57px;
  left: -166px;
  width: 380px;
  height: fit-content;
  padding: 4px 12px;
  border-radius: 15px;
  z-index: 11;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: var(--bg-white);
  .sharing-container {
    .send-heading {
      width: 100%;
      height: 49px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      font-weight: 500;
      color: var(--text-color-black);
    }

    .send-options {
      user-select: none;
      display: flex;
      align-items: center;
      .search {
        width: 74px;
        height: 81px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;

        .search-icon {
          cursor: pointer;
          width: 48px;
          height: 48px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          background-color: var(--button-bg-secondary);

          .icon {
            font-size: 20px;
            color: var(--text-color-black);
          }

          &:hover {
            background-color: var(--button-bg-secondary-hover);
          }
        }

        .search-text {
          font-size: 12px;
          color: var(--text-color-black);
        }
      }

      .import {
        width: 74px;
        height: 81px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;

        .import-icon {
          cursor: pointer;
          width: 48px;
          height: 48px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          background-color: var(--button-bg-secondary);

          .icon {
            font-size: 20px;
            color: var(--text-color-black);
          }

          &:hover {
            background-color: var(--button-bg-secondary-hover);
          }
        }

        .import-text {
          font-size: 12px;
          color: var(--text-color-black);
        }
      }
    }

    .sharing-heading {
      width: 100%;
      height: 49px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 8px;
      font-size: 14px;
      font-weight: 500;
      border-top: 1px solid var(--border-color);
      color: var(--text-color-black);
    }

    .sharing-options {
      user-select: none;
      display: grid;
      grid-template-columns: auto auto auto auto auto;
      align-items: center;
      .whatsapp {
        cursor: pointer;
        width: 100%;
        height: 78px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        margin-bottom: 20px;

        .whatsapp-icon {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid var(--border-color);

          .whatsapp-image {
            width: 28px;
            height: 28px;
            object-fit: cover;
          }
        }

        .whatsapp-text {
          font-size: 12px;
          color: var(--text-color-black);
        }
      }

      .messenger {
        cursor: pointer;
        width: 100%;
        height: 78px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        margin-bottom: 20px;

        .messenger-icon {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid var(--border-color);

          .icon {
            font-size: 24px;
            color: #0866ff;
          }
        }

        .messenger-text {
          font-size: 12px;
          color: var(--text-color-black);
        }
      }

      .facebook {
        cursor: pointer;
        width: 100%;
        height: 78px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        margin-bottom: 20px;

        .facebook-icon {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;

          .facebook-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .facebook-text {
          font-size: 12px;
          color: var(--text-color-black);
        }
      }

      .twitter {
        cursor: pointer;
        width: 100%;
        height: 78px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        margin-bottom: 20px;

        .twitter-icon {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: var(--bg-black);

          .twitter-image {
            width: 24px;
            height: 24px;
            object-fit: cover;
          }
        }

        .twitter-text {
          font-size: 12px;
          color: var(--text-color-black);
        }
      }

      .copy-link {
        cursor: pointer;
        width: 100%;
        height: 78px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        margin-bottom: 20px;

        .copy-link-icon {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: var(--button-bg-secondary);

          .icon {
            font-size: 16px;
            color: var(--text-color-black);
          }

          &:hover {
            background-color: var(--button-bg-secondary-hover);
          }
        }

        .copy-link-text {
          font-size: 12px;
          color: var(--text-color-black);
        }
      }

      .email {
        cursor: pointer;
        width: 100%;
        height: 78px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        margin-bottom: 20px;

        .email-icon {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: var(--button-bg-secondary);

          .icon {
            font-size: 20px;
            color: var(--text-color-black);
          }
        }

        .email-text {
          font-size: 12px;
          color: var(--text-color-black);
        }
      }
    }
  }
}
