.home-wrapper {
  height: 100vh;
  overflow-y: auto;
  -ms-overflow-style: none;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

  .home-container {
    margin-top: 80px;
  }

  .slide-show-ideas,
  .search-ideas,
  .save-ideas,
  .shop-ideas {
    height: calc(100vh - 80px);
    scroll-snap-align: start;
    scroll-margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-ideas {
    background-color: var(--search-idea-bg);
  }

  .save-ideas {
    background-color: var(--save-idea-bg);
  }

  .shop-ideas {
    background-color: var(--shop-idea-bg);
  }
}

.home-wrapper::-webkit-scrollbar {
  display: none;
}
