.edit-profile-wrapper {
  cursor: zoom-out;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.75);
  .edit-profile-container {
    cursor: context-menu;
    width: 540px;
    height: fit-content;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: #fff;

    .edit-profile-heading {
      width: 100%;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 24px;
      border-bottom: 1px solid var(--border-color);

      .empty {
        width: 40px;
        height: 40px;
      }

      .heading-text {
        width: 100%;
        font-size: 28px;
        font-weight: 600;
        line-height: 30px;
        text-align: center;
        color: var(--text-color-black);
      }

      .close {
        cursor: pointer;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: var(--button-bg-secondary);

        .icon {
          font-size: 20px;
          color: var(--text-color-black);
        }

        &:hover {
          background-color: var(--button-bg-secondary-hover);
        }
      }
    }

    .edit-profile-content-container {
      width: 100%;
      height: fit-content;
      .edit-profile-content-main {
        width: 100%;
        margin-top: 20px;

        .desc-information {
          padding: 0 20px;
          font-size: 15px;
          line-height: 22px;
          color: var(--text-color-black);
        }
        .edit-photo {
          width: 100%;
          margin-top: 20px;
          padding: 0 20px;

          .photo-text {
            font-size: 12px;
            color: var(--text-color-black);
          }

          .photo-container {
            width: 100%;
            margin-top: 4px;
            display: flex;
            align-items: center;

            .profile-image {
              width: 75px;
              height: 75px;
              border-radius: 50%;
              object-fit: cover;
            }

            .change-photo-btn {
              cursor: pointer;
              user-select: none;
              width: 80px;
              height: 40px;
              margin-left: 16px;
              border-radius: 25px;
              border: none;
              outline: none;
              font-size: 16px;
              font-weight: 600;
              color: var(--text-color-black);
              background-color: var(--button-bg-secondary);
              transition: 0.15s linear;

              &:hover {
                background-color: var(--button-bg-secondary-hover);
              }
            }
          }
        }

        .edit-full-name {
          width: 100%;
          margin-top: 20px;
          padding: 0 20px;
          display: flex;
          justify-content: center;

          .edit-first-name {
            flex: 1;
            padding-right: 4px;
            .text {
              font-size: 12px;
              color: var(--text-color-black);
            }

            .first-name-input {
              width: 100%;
              margin-top: 8px;
              padding: 12px 16px;
              font-size: 16px;
              border-radius: 15px;
              border: 2px solid var(--border-color-2nd);

              // &:focus {
              //   border: 2px solid #7fc1ff;
              //   outline: none;
              // }
            }
          }

          .edit-last-name {
            flex: 1;
            padding-left: 4px;
            .text {
              font-size: 12px;
              color: var(--text-color-black);
            }

            .last-name-input {
              width: 100%;
              margin-top: 8px;
              padding: 12px 16px;
              font-size: 16px;
              border-radius: 15px;
              border: 2px solid var(--border-color-2nd);
            }
          }
        }

        .edit-about {
          width: 100%;
          margin-top: 20px;
          padding: 0 20px;

          .text {
            font-size: 12px;
            color: var(--text-color-black);
          }

          .about-input {
            width: 100%;
            margin-top: 8px;
            border-radius: 15px;
            font-size: 16px;
            padding: 12px 16px;
            border: 2px solid var(--border-color-2nd);

            &:focus {
              border: 2px solid var(--border-color-2nd);
              outline: none;
            }
          }

          .count-input {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-top: 4px;
            font-size: 11px;
          }
        }

        .edit-website {
          width: 100%;
          margin-top: 20px;
          padding: 0 20px;

          .text {
            font-size: 12px;
            color: var(--text-color-black);
          }

          .website-input {
            width: 100%;
            margin-top: 8px;
            border-radius: 15px;
            font-size: 16px;
            padding: 12px 16px;
            border: 2px solid var(--border-color-2nd);

            &:focus {
              border: 2px solid var(--border-color-2nd);
              outline: none;
            }
          }
        }

        .edit-username {
          width: 100%;
          margin-top: 20px;
          padding: 0 20px;

          .text {
            font-size: 12px;
            color: var(--text-color-black);
          }

          .username-input {
            width: 100%;
            margin-top: 8px;
            border-radius: 15px;
            font-size: 16px;
            padding: 12px 16px;
            border: 2px solid var(--border-color-2nd);

            &:focus {
              border: 2px solid var(--border-color-2nd);
              outline: none;
            }
          }

          .example {
            margin-top: 6px;
            font-size: 12px;
            color: #767676;
          }
        }
      }
    }

    .edit-profile-footer {
      flex-grow: 1;
      padding: 20px 16px;

      .edit-profile-action {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }

      .cancel-btn {
        cursor: pointer;
        user-select: none;
        padding: 12px 16px;
        border: none;
        outline: none;
        border-radius: 20px;
        font-size: 14px;
        font-weight: 600;
        color: var(--text-color-black);
        background-color: var(--button-bg-secondary);

        &:hover {
          background-color: var(--button-bg-secondary-hover);
        }
      }

      .save-btn {
        cursor: pointer;
        user-select: none;
        padding: 12px 16px;
        margin-left: 8px;
        border: none;
        outline: none;
        border-radius: 20px;
        font-size: 14px;
        font-weight: 600;
        color: var(--text-color-white);
        background-color: var(--button-bg-primary);

        &:hover {
          background-color: var(--button-bg-primary-hover);
        }
      }

      .save-btn:disabled {
        cursor: not-allowed;
        background-color: #e9e9e9;
        color: #767676;
      }
    }
  }
  @media screen and (max-width: 1600px) {
    .edit-profile-container {
      height: 725px;
    }
  }
}
