.interaction-action {
  width: 100%;
  height: 92px;
  padding: 32px 32px 0 32px;

  .interaction-action-btn {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .action-left {
      display: flex;
      align-items: center;
      justify-content: center;

      .sharing,
      .more-options {
        cursor: pointer;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: transparent;

        .icon {
          font-size: 20px;
          color: var(--text-color-black);
        }

        &:hover {
          background-color: var(--button-bg-secondary-hover);
        }
      }

      .more-options-show,
      .sharing-show {
        background-color: var(--bg-black);

        .icon {
          font-size: 20px;
          color: var(--text-color-white);
        }

        &:hover {
          background-color: var(--bg-black);
        }
      }
    }

    .action-right {
      .save-btn {
        cursor: pointer;
        height: 48px;
        padding: 12px 16px;
        font-size: 16px;
        font-weight: 600;
        border-radius: 25px;
        border: none;
        outline: none;
        color: var(--text-color-white);
        background-color: var(--button-bg-primary);
        transition: 0.15s linear;

        &:hover {
          background-color: var(--button-bg-primary-hover);
        }
      }
    }
  }
}
